 body {
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  background-image: url(/assets/images/forest.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  overflow:auto;
  
}

.forest {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100%;
  background-image: url(/assets/images/forest.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d2d0d4;
  border-radius: 4px;
}

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ced1d7;
  }
