<div *ngIf="displayHeader" class="trial_plot_header"><h3>Стационар № {{trialPlotId}}</h3></div>
<mat-tab-group #tabGroup *ngIf="showMatTab" class="mat-tab-group" [(selectedIndex)] = "selectedIndex" mat-align-tabs="center" (selectedTabChange)="tabClick($event)">

  <mat-tab  [dynamicHeight]='false' label="{{item['year']}}" *ngFor="let item of allCharacteristicsTrialPlot, let index = index">

    <div class="table-trial-plot">
      <table>
        <thead>
          <tr>
            <td colspan="4"><strong>Информация о стационаре</strong></td>
          </tr>
        </thead>
        <tr>
          <td>Область:</td>
          <td>{{item['region']}}</td>
          <td>X:</td>
          <td>{{item['x']}}</td>
        </tr>
        <tr>
          <td>Лесхоз:</td>
          <td>{{item['foresty']}}</td>
          <td>Y:</td>
          <td>{{item['y']}}</td>
        </tr>
        <tr>
          <td>Лесничество:</td>
          <td>{{item['silviculture']}}</td>
          <td>Азимут:</td>
          <td>{{item['azimuth']}}</td>
        </tr>
        <tr>
          <td>Снимок №:</td>
          <td>{{item['snapshot_number']}}</td>
          <td>Высота:</td>
          <td>{{item['height']}}</td>

        </tr>
        <tr>
          <td>Квартал:</td>
          <td>{{item['section']}}</td>
          <td>Ширина:</td>
          <td>{{item['width']}}</td>
        </tr>
        <tr>
          <td>Выдел:</td>
          <td>{{item['survey']}}</td>
          <td>Площадь:</td>
          <td>{{item['area']}}</td>
        </tr>
      </table>
      <table>
        <thead>
          <tr>
            <td colspan="4"><strong>Информация о деревьях</strong></td>
          </tr>
        </thead>
        <tr>
          <td>Всего деревьев:</td>
          <td>{{trees?.length}}</td>
        </tr>
        <tr>
          <td>Деловое дерево:</td>
          <td>{{numberOfBusinessTrees}}</td>
        </tr>
        <tr>
          <td>Дровяное дерево:</td>
          <td>{{numberOfWoodTrees}}</td>
        </tr>
        <tr>
          <td>Целое погибшее дерево:</td>
          <td>{{numberOfDeadTrees}}</td>
        </tr>
        <tr>
          <td>Сухостой, у которого нельзя вычислить объем:</td>
          <td>{{numberOfDeadTreesWithoutVolume}}</td>
        </tr>
        <tr>
        </tr>
      </table>

      <table class="table-of-trees">
        <tr>
          <td colspan="2"><strong>Количество деревьев</strong></td>
        </tr>
        <tr>
          <td>Сосна:</td>
          <td>{{pines?.length}}</td>
        </tr>
        <tr>
          <td>Ель:</td>
          <td>{{spruces?.length}}</td>
        </tr>
        <tr>
          <td>Берёза:</td>
          <td>{{birches?.length}}</td>
        </tr>
        <tr>
          <td>Дуб:</td>
          <td>{{oaks?.length}}</td>
        </tr>
        <tr>
          <td>Осина:</td>
          <td>{{aspens?.length}}</td>
        </tr>
        <tr>
          <td>Ольха чёрная:</td>
          <td>{{blackAlder?.length}}</td>
        </tr>
        
      </table>

      <div class="group-buttons">
        <p title="Открыть карту постоянной пробной площади"><button class="buttons-show" (click)="showMap(item.id, index)"><img class="map-icon" src="assets/images/map-icon.png"></button></p>
        <p title="Открыть таксационную характеристику древостоя"><button class="buttons-show" (click)="showTable(index)"><img class="table-icon" src="assets/images/table-icon.png"></button></p>
        <p title="Открыть график зависимости высоты ствола от его диаметра"><button class="buttons-show" (click)="showGraph(1, index)"><img class="graph-icon" src="assets/images/graph-icon.png"></button></p>
      </div>
    </div>

    
  </mat-tab>
</mat-tab-group>

  <p-dialog [styleClass]="mapping"  header="Карта таксационной пробной площади" [contentStyle]="{'overflow':'auto', height:'90vh', width:'202vh'}" [draggable]="false" [(visible)]="displayMap" [modal]="true" [responsive]="true" [closeOnEscape]="true"
            [maximizable]="false" [dismissableMask]="true" [autoZIndex]="true" [baseZIndex]="10000" [blockScroll]="true" (visibleChange)="closeMap()">

    <ui-dialog-content>
      <div>
        <p-chart #mapChart type="bubble" [data]="dataOfMap" [options]="optionsOfMap" width="{{width}}vw" height="{{height}}vh" (onDataSelect)="showTreeInfo($event)"></p-chart>
      </div>

      <p-dialog header="Дерево" [(visible)]="displayTree" [draggable]="true" [modal]="false" [responsive]="true" [style]="{minWidth: '350px'}"
                [maximizable]="false" [dismissableMask]="true" [autoZIndex]="false" [baseZIndex]="10000">
        <ul>
          <li *ngIf="tree">Номер дерева: {{tree['tree_number']}}</li>
          <li *ngIf="tree">Координаты: ({{tree['x']}}, {{tree['y']}})</li>
          <li *ngIf="tree">Порода: {{tree['species']}}</li>
          <li *ngIf="tree && tree.age != null">Возраст: {{tree['age']}}</li>
          <li *ngIf="tree && tree.average_trunk_diameter != null">Диаметр ствола: {{tree['average_trunk_diameter']}} см</li>
          <li *ngIf="tree && tree.trunk_height != null">Высота ствола: {{tree['trunk_height']}} м</li>
          <li *ngIf="tree && tree.trunk_volume != null">Объем ствола: {{tree['trunk_volume']}}</li>
          <li *ngIf="tree && tree.average_crown_diameter != null">Диаметр кроны: {{tree['average_crown_diameter']}} м</li>
          <li *ngIf="tree && tree.crown_length != null">Длина кроны: {{tree['crown_length']}}%</li>
          <li *ngIf="tree">Категория: {{tree['category']}}</li>
        </ul>
      </p-dialog>

    </ui-dialog-content>

  </p-dialog>


  <p-dialog class="characteristic-trial-plot" header="Таксационная характеристика древостоя" width="94vw" height="180vh" [draggable]="false" [(visible)]="displayTable" [modal]="true" [responsive]="true" [closeOnEscape]="true"
            [dismissableMask]="true" [autoZIndex]="true" [baseZIndex]="100000" [blockScroll]="true" (visibleChange)="closeMap()">

    <ui-dialog-content>

      <table class="trees-table">
        <thead>
          <tr>
            <td>Порода</td>
            <td>Коэффициент состава</td>
            <td>Возраст</td>
            <td>Средняя высота ствола, м</td>
            <td>Средний диаметр ствола, см</td>
            <td>Густота, шт</td>
            <td>Сумма площадей сечений, м&#178;</td>
            <td>Средний диаметр кроны, м</td>
            <td>Полнота, м</td>
            <td>Запас, м&#179;</td>
            <td>Протяжённость кроны, %</td>
          </tr>
        </thead>
        <tr *ngFor="let item of treeSperciesInformation">
          <td>{{item?.name}}</td>
          <td>{{item?.k}}</td>
          <td>{{item?.avgAge}}</td>
          <td>{{item?.avgTrunkH}}</td>
          <td>{{item?.avgBoreDiameter}}</td>
          <td>{{item?.N}}</td>
          <td>{{item?.sumOfTheAreasOfSections}}</td>
          <td>{{item?.avgCrownDiameter}}</td>
          <td>{{item?.fullness}}</td>
          <td>{{item?.stock}}</td>
          <td>{{item?.avgLengthCrown}}</td>
        </tr>
        <tr>
          <td>Всего</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{generalN}}</td>
          <td>{{generalSumOfTheAreasOfSections}}</td>
          <td></td>
          <td>{{generalFullness}}</td>
          <td>{{generalStock}}</td>
          <td></td>
        </tr>

      </table>
    </ui-dialog-content>

  </p-dialog>


  <p-dialog [draggable]="false" [(visible)]="displayGraph" [modal]="true" [responsive]="true"
            [maximizable]="true" [dismissableMask]="true" [closeOnEscape]="true" [autoZIndex]="true" [baseZIndex]="10000" [blockScroll]="true" (visibleChange)="closeGraph()">

    <ui-dialog-content>
      <div class="graph">
        <p-chart type="scatter" #graphChart [data]="dataOfGraph" [options]="optionsOfGraph" width="70vw" height="80vh"></p-chart>
      </div>
      <div class="group-a-graph">
        <a (click)="showGraph(1)">H-ствола/D-ствола</a>
        <a (click)="showGraph(2)">D-кроны/D-ствола</a>
        <a (click)="showGraph(3)">L-кроны/D-ствола</a>
      </div>
    </ui-dialog-content>

  </p-dialog>
